.homeContainer {
    color: black;
    background-color: white;

    width: 100%;
    height: auto;
}

.homeCatalog {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.homeGridCell {
    border-radius: 25%;
    border: 1px solid #000000;
    align-items: center;
    justify-content: center;
    padding-inline: 5px;
    padding-bottom: 25px;
}
